.section {
  padding-top: 30px;
  padding-bottom: 30px;
}
.list {
  margin-right: -20px;
  display: flex;
  outline: 2px solid green;
  //   flex-grow: 1;
}
.item {
  margin-right: 20px;
  list-style: none;
  //   flex-grow: 1;
}

.thumb {
  width: 100px;
  height: 100px;
  background-color: tomato;
  border: 2px solid black;
  border-radius: 4px;
  //   width: 100%;
}
